[global_config]
  enabled_plugins = APTURLHandler, LaunchpadCodeURLHandler, LaunchpadBugURLHandler
  title_transmit_bg_color = "#000000"
[keybindings]
  cycle_prev = None
  close_window = None
  group_tab = None
  resize_left = None
  reset_clear = None
  go_right = None
  resize_right = None
  resize_down = None
  toggle_zoom = None
  scaled_zoom = None
  zoom_in = None
  group_all = None
  move_tab_right = None
  prev_tab = None
  split_vert = None
  ungroup_all = None
  switch_to_tab_1 = None
  ungroup_tab = None
  paste = <Shift>Insert
  cycle_next = None
  zoom_out = None
  go_prev = None
  close_term = None
  new_terminator = <Shift><Control>n
  go_next = None
  go_left = None
  copy = <Control>Insert
  hide_window = None
  reset = None
  search = None
  go_up = None
  resize_up = None
  next_tab = None
  split_horiz = None
  zoom_normal = None
  go_down = None
  new_window = None
  move_tab_left = None
  toggle_scrollbar = None
[profiles]
  [[default]]
    audible_bell = True
    visible_bell = True
    background_darkness = 0.84
    urgent_bell = True
    background_type = transparent
    scrollbar_position = hidden
    foreground_color = "#ffffff"
    scrollback_lines = 512
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
